[submodule "clojure-web-application"]
	path = clojure-web-application
	url = https://gitlab.com/gitlab-examples/clojure-web-application
[submodule "gitlab-examples.gitlab.io"]
	path = gitlab-examples.gitlab.io
	url = https://gitlab.com/gitlab-examples/gitlab-examples.gitlab.io
